<form id="myform" name="newEventInstance" onsubmit="submitEventInstance();return false;">

	<div class="form-group">
		<h4>
			<label for="eventTempName">Event Template Name : </label> <label
				id="eventTempName">{{evName}}</label>
		</h4>
	</div>

	<div class="form-group">
		<label for="eventInstanceName">Event Name</label> <input
			class="form-control" type="text" name="eventInstanceName"
			id="eventInstanceName" placeholder="{{evName}}" value="{{evName}}" required>
	</div>

	<div class="form-group">
		<label for="eventInstanceDescription">Description</label>
		<textarea class="form-control" id="eventInstanceDescription" rows="4"></textarea>
	</div>
	<div class="label label-danger" id="datesWarning"
					style="display: none">Incompatible dates entered..!!</div>
	<div class="form-group">
		<label for="inputDate">Start Date : </label>
		<div class='inputDate input-group date' id='startDateSet'>
			<input type='text' class="form-control" id='startDate'
				data-format="YYYY-MM-DD" value="{{formatDate}}" required/> <span
				class="input-group-addon"><span
				class="glyphicon glyphicon-calendar"></span> </span>
		</div>
	</div>

	<div class="form-group">
		<label for="inputDate">End Date : </label>
		<div class='inputDate input-group date' id='endDateSet'>
			<input type='datetime' class="form-control" id='endDate'
				data-format="YYYY-MM-DD" value="{{formatDate}}"
				onchange="compareDates('startDate','endDate')" required/> <span
				class="input-group-addon"
				onchange="compareDates('startDate','endDate')"><span
				class="glyphicon glyphicon-calendar"></span> </span>
		</div>
	</div>



<div class="well"><b>
Select the activities you want to add to the event and set the time and venue and edit the description as required.  </b> 
</div>
<div id="activitySection">
	<h4>Activities :</h4>
	<table style="padding-top: 0;" class="table" id="activityTable">
		<thead>
			<tr>
				<th></th>
				<th>Acitivity</th>
				<th>Activity Date</th>
				<th>Venue</th>
				<th>Additional info</th>
			</tr>
		</thead>
		<tbody>
			{{#each activities}}
			<tr>
				<td><input type="checkbox" id="{{id}}act"
					onchange="activitySelectionChanged('{{id}}');"></td>

				<td style="width: 30%"><b>{{name}}</b><br>{{description}}<br>
					{{#if_eq type "I"}}<b>Individual Activity</b>{{/if_eq}}{{#if_eq type "G"}}<b>Group Activity</b>{{/if_eq}}
					</td>

				<td>
					<div class='inputDate input-group date'
						id="{{id}}_act_datetime_set" style="visibility: hidden">
						<input type='text' class="form-control" id="{{id}}_act_datetime"
							data-format="YYYY-MM-DD HH:mm" value="{{formatDate}}"/> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-calendar"></span> </span>
					</div>
				</td>

				<td style="width: 10%"><input class="form-control" type="text" id="{{id}}_act_venue"
					style="visibility: hidden" value="venue"></td>
				<td style="width: 30%">
					<div class="form-group">
						<textarea style="display: none" class="form-control" id="{{id}}_act_description"
							rows="4">{{description}}.</textarea>
					</div> 
				</td>
			</tr>
			{{/each}}
		</tbody>

	</table>
</div>

<div class="well"><b>
Select the awards you want to add to the event.</br>
If the award is to be decided by a vote set the start and end time for the vote.  </b> 
</div>

<div style="padding-top: 10px;" id="awardSection">
	<h4>Awards :</h4>
	<table class="table" id="awardTable">
		<thead>
			<tr>
				<th></th>
				<th>Award</th>
				<th>Voting Start Date</th>
				<th>Voting End Date</th>
			</tr>
		</thead>
		<tbody>
			{{#each awards}}
			<tr>
				<td><input type="checkbox" id="{{id}}award" onchange="awardSelectionChanged('{{id}}')"></td>

				<td style="width:30%">
				<b>{{name}}</b></br>
				{{description}}</br>
				Type : {{type}}</br>
				{{#if_eq isVote "true"}}<b>Vote</b>{{/if_eq}}{{#if_eq isVote "false"}}<b>Not a Vote</b>{{/if_eq}}
				</td>

				<td>
					<div class='inputDate input-group date' id="{{id}}_awd_start_set"
						style="visibility: hidden">
						<input type='text' class="form-control" id="{{id}}_awd_start"
							data-format="YYYY-MM-DD HH:mm" value="{{formatDate}}"/> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-calendar"></span> </span>
					</div>
				</td>
				<td>
					<div class='inputDate input-group date' id="{{id}}_awd_end_set"
						style="visibility: hidden">
						<input type='text' class="form-control" id="{{id}}_awd_end"
							data-format="YYYY-MM-DD HH:mm" value="{{formatDate}}"/> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-calendar"></span> </span>
					</div>
				</td>
				<script type="text/javascript">
						if ('{{isVote}}'=='false'){
							document.getElementById('{{id}}_awd_start_set').style.display = "none";
							document.getElementById('{{id}}_awd_start').value="2000-01-01T00:00:00"		
							document.getElementById('{{id}}_awd_end_set').style.display = "none";
							document.getElementById('{{id}}_awd_end').value="2000-01-01T00:00:00"	
						}
				</script>
			</tr>
			{{/each}}

		</tbody>

	</table>
</div>

<div class="btn-group pull-right" style="margin-bottom:40px">
	<input type="submit" class="btn btn-default" id="addButton" value="Add"/> 
	<input style="margin-left: 5px;" class="btn btn-warning" type="button" value="Cancel" onclick="cancel();" />
</div>
</form>
<script type="text/javascript"> 

	var eventInstList = [];

	function showHideCommon() {
        var theDiv = document.getElementById('activitySection');
        theDiv.style.display = "";
        theDiv = document.getElementById('awardSection');
        theDiv.style.display = "";
    }

    function compareDates(sDate,eDate){
    		alert("Invalid end date");
    	
    }
    

    function cancel(){
    	document.location.href = '{{url "/add-event-instance-front.jag"}}';
    }

    function changeVisibility(id){
    	var theDiv = document.getElementById(id);
			if (theDiv.style.visibility == "hidden") {
				theDiv.style.visibility = "";
			} else {
				theDiv.style.visibility = "hidden";
			}

    }



    function changeDisplay(id){
    	var theDiv = document.getElementById(id);
			if (theDiv.style.display=="none") {
				theDiv.style.display="";
			} else {
				theDiv.style.display="none";
			}
    }

    function activitySelectionChanged(value){
    	changeVisibility(value+"_act_datetime_set");
    	changeVisibility(value+"_act_venue");
    	changeDisplay(value+"_act_description");
    }

    function awardSelectionChanged(value){
    	changeVisibility(value+"_awd_start_set");
    	changeVisibility(value+"_awd_end_set");   	
    }

    var actInst = [];
    
    function addActivities(){
    	var fault=false;
    	{{#each activities}}

    	var activityid = "{{id}}";
    	var activityName = "{{name}}";
    		if ((document.getElementById(activityid+"act")).checked){
    			var actInstDateVal = document.getElementById(activityid+"_act_datetime").value;
    			if (actInstDateVal == ""){
    				alert("Please enter a date for the activity " +activityName);
	        		fault=true;
	        		return false;
    			}
    			else{
    			var actInstDate = new Date(actInstDateVal);
    			if ( (actInstDate < instStart) || (actInstDate > instEnd)){
	        		alert("Activity "+ activityName + " should be held between the event start and end!!!");
	        		fault=true;
	        		return false;
	        	}
				var activityInstance = new Object();
    			activityInstance.activityName = activityName;
    			activityInstance.activityID= "{{id}}";
    			activityInstance.activityInstDate = document.getElementById(activityid+"_act_datetime").value;
    			activityInstance.activityInstVenue = document.getElementById(activityid+"_act_venue").value;
    			activityInstance.activityInstDesc = document.getElementById(activityid+"_act_description").value;
    			actInst.push(activityInstance);	
    		}
			}
    	{{/each}}
    	if(fault==false){
    		return true;
    	}
    }

    var awardInst = [];

    function addAwards(){
    	var fault=false;
    	{{#each awards}}
    		
    		var awardid = "{{id}}";
    		var awardName = "{{name}}";
    		if (document.getElementById(awardid+"award").checked){
    			awdStartVal = document.getElementById(awardid+"_awd_start").value;
    			awdEndVal = document.getElementById(awardid+"_awd_end").value;
    			if (awdStartVal == "" || awdEndVal == ""){
	        		alert("Enter dates for voting for award "+awardName);
	        		fault=true;
	        		return false;
	        	}
	        	else{
    				var awdStart = new Date(awdStartVal);
    				var awdEnd = new Date(awdEndVal);
		        	if (awdStart > awdEnd){
		        		alert("Incompatible End Date and Start Date for award "+ awardName);
		        		fault=true;
		        		return false;
		        	}

					var awardInstance = new Object();
	    			awardInstance.awardName = awardName;
	    			awardInstance.awardID = "{{id}}";
	    			awardInstance.awardInstStart = document.getElementById(awardid+"_awd_start").value;
	    			awardInstance.awardInstEnd = document.getElementById(awardid+"_awd_end").value;
	    			awardInst.push(awardInstance);	
				}
			}
    	{{/each}}
    	if (fault==false){
    		return true;
    	}
    }
    function addEventInstance(){
    	actInst = [];
    	awardInstance = [];
    	if (this.addActivities() && this.addAwards()){
    		return true;
    	}
    	else{
    		return false;
    	}
    }

	var instStart;
	var instEnd;

	function submitEventInstance(){
		instStartVal = document.getElementById('startDate').value;
        	instEndVal = document.getElementById('endDate').value;
        	if(instStartVal=="" || instEndVal==""){
        		alert("Please enter dates for the event");
        	}
        	else{
	        	instStart = new Date(instStartVal);
	        	instEnd = new Date(instEndVal);

	        	if (instStart > instEnd){
	        		//alert("Incompatible End Date and Start Date for the event");
	        		document.getElementById("datesWarning").style.display="";
	        	}

	        	else{
		        	if (addEventInstance()){
			       		var eventInstName = document.getElementById('eventInstanceName').value;
						var eventName = "{{evName}}";
						var eventInstDescription = document.getElementById('eventInstanceDescription').value;
						var eventInstStartDate = document.getElementById('startDate').value;
						var eventInstEndDate = document.getElementById('endDate').value;
			               $.ajax({
			              type: "POST",
			              contentType: "application/json",
			              url: '{{url "/add-event-instance.jag"}}',

			              data: JSON.stringify({"eventInstance":{"name": eventInstName,"eventName":eventName, "description":eventInstDescription, "startDate":eventInstStartDate, "endDate":eventInstEndDate},"activityInstance":actInst,"awardInstance":awardInst}),
			              success : function(
									msg) {
								if(msg.redirect){
									window.location = msg.url;
								};
							}
			           });
		           }
	       		}
       		}

	}
    $(document).ready(function() {

 
		$('.inputDate').datetimepicker();

     });



    
    </script>