<div class="panel">
<div style="text-align:center" class="panel-heading">
<h3><b>Add New Event</b></h3>
</div>

<div class="panel-body">

<table class="table">
	<tr>
		<td style="text-align: right;padding-top:12px; border:none">Select from existing event template :</td>
		<td style="border:none">
			<form id="myform" name="newEventInstance">

				<div class="form-group pull-left">
						<select id="events" class="form-control" onchange="getActivitiesAndAwards(); ">


							<option value="select an event template">Select an Event Template</option>
								
							{{#each event_name}}
								<option value="{{name}}">{{name}}</option> 
							{{/each}}

							<option value="create new event template">create new event template</option>
						</select>
				</div>

			</form>
		</td>
	</tr>

	<tr style="text-align: center;padding-top:0px">
		<td style="text-align: center;padding-top:0px;border:none"" colspan=2><h2 style="text-align: center;margin-top:0px">Or</h2></td>
	</tr>

	<tr style="text-align: center">
		<td style="border:none" colspan=2><a href="{{url "/add-event"}}"><button class="btn btn-success">Add New Event Template</button></a></td>
	</tr>

</table>

<<<<<<< HEAD
<form id="myform" name="newEventInstance">
	<font size="5">Add New Event</font> <br /> <br />
	<!-- 
	<table id="eventInstance" class="styledLeft">		
		<tbody>			
			<tr>
				<td style="width: 150px;">Event Template :</td>
				<td></td>
				<td><select name="events" id="events"
					onchange="getActivitiesAndAwards()">
						<option value="select an event template" style="width: 320px;">Select an
							Event Template</option>

						<script type="text/javascript">

						 var sel = document.getElementById('events');  
						 	{{#each event_name}}
						 		var opt = document.createElement('option');
						 	    opt.innerHTML = "{{name}}";
						 	    opt.value = "{{name}}";
						 	    sel.appendChild(opt);
						 	{{/each}}


							</script>

				</select> <a href="{{url "/addEvent.jag"}} " style="margin-left: 5px;">New
						Event Template?</a></td>
			</tr>


		</tbody>
	</table> -->
	<!-- -->
	<div class="row" style="height: 40px;">
		<div class="col-md-10" style="width: 300px;">
			<strong>Select from existing event template :</strong>
		</div>
		<div class="col-md-6">
			<select name="events" id="events" onchange="getActivitiesAndAwards()">
				<option value="select an event template" style="width: 320px;">Select
					an Event Template</option>
			</select>

			<script type="text/javascript">

						 var sel = document.getElementById('events');  
						 	{{#each event_name}}
						 		var opt = document.createElement('option');
						 	    opt.innerHTML = "{{name}}";
						 	    opt.value = "{{name}}";
						 	    sel.appendChild(opt);
						 	{{/each}}
						 		var opt = document.createElement('option');
						 	    opt.innerHTML = "create new event template";
						 	    opt.value = "create new event template";
						 	    sel.appendChild(opt);
						 	   
							</script>


		</div>
	</div>
	<div class="row" style="height: 40px;" align="justify">
		<div class="col-md-10" style="width: 300px;"></div>
		<div class="col-md-6" align="justify">OR</div>
	</div>
	<div class="row" style="height: 40px;">
		<div>
			<div class="col-md-10" style="width: 300px;"></div>

			<div class="col-md-6">
				<a href='{{url "/add-event"}}' style="margin-left: 5px;"> Add
					New event template? </a>
			</div>

		</div>
	</div>
	<!-- -->
</form>

<div style="padding-top: 10px; display: none;" id="activitySection">
	Activities :
	<table class="table" id="activityTable">

		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>

		</tbody>

	</table>
=======
>>>>>>> a2513185a83c8a14b49115a798ade82b9e406d6c
</div>
</div>

<script type="text/javascript">

	function getActivitiesAndAwards() {
		if (document.getElementById('events').value == "create new event template") {
			document.location.href = "{{url "/add - event"}}";
		} else {
			document.location.href = "{{url "/addEventInstanceSelected/"}}"
					+ document.getElementById('events').value;
		}
	}

	function cancel() {
		document.location.href = '{{url "/"}}';
	} 
</script>







