<div>
	<div class="list-group">
		{{#if event}}
			{{#if event.name}}
				<a href='{{url "/event-instances/"}}{{event.id}}'
				class="list-group-item"><b>{{event.name}}</b> : {{event.description}} 
				</a>
			{{/if}}
			{{#each event}} 
				<a href='{{url "/event-instances/"}}{{id}}'
				class="list-group-item"><b>{{name}}</b>  : {{description}} 
				</a> 
			{{/each}}
		{{/if}}
		{{#unless event}}
			<div class="well well-sm">
			<font size="4">There are no event templates to be displayed</font>
			</div>
		{{/unless}}
	</div>
</div>
