<div style="padding-top: 10px">
	<h3>
		<b>Current Elections</b>
	</h3>
	<!-- <table class="table" id="activityTable" border="2">-->

	<table class="table">
		<thead>
			<tr>

				<th><h4 style="color: blue">Award name</h4></th>
				<th><h4 style="color: blue">Event instance name</h4></th>
				<th><h4 style="color: blue"></h4></th>

			</tr>
		</thead>
		<tbody>


			{{#each Entry}}

			<!--
			<tr onclick="document.location = {{url "/awards.jag/"}}{{event_award_id}}">  -->
			<tr>
				<td rowspan="2"><b>{{awardName}}</b><br /><p class="list-group-item-text" align="justify">Description:{{awardDescription}}</p>
				</td>
				<td rowspan="2"><b>{{eventName}}</b><br /><p class="list-group-item-text" align="justify">Description:{{eventDescription}}</p>
				</td>
				<td rowspan="2"><button
						onclick="vote('{{event_award_instance_id}}');return false;"
						type="button" class="btn btn-warning btn-xs pull-left">Vote
						for this election</button>
					<br /></td>

			</tr>
			<tr></tr>

			{{/each}}

		</tbody>
	</table>
</div>

<script>
	function vote(event_award_instance_id) {
		document.location.href = '{{url "/votes/"}}'
				+ event_award_instance_id;

	}
</script>

