<div>
	<h3 style="margin:0px">
		<b>Current Elections</b>
	</h3>

	<table class="table">
		<thead>
			<tr>
				<th><h4>Award name</h4></th>
				<th><h4>Event instance name</h4></th>
				<th></th>
			</tr>
		</thead>
		<tbody>


			{{#each Entry}}
			<tr>
				<td style="width:15%">
					<b>{{awardName}}</b><br /><p class="list-group-item-text" align="justify">{{awardDescription}}</p>
				</td>
				<td >
					<b>{{eventName}}</b><br /><p class="list-group-item-text" align="justify">{{eventDescription}}</p>
				</td>
				<td ><button
						onclick="vote('{{event_award_instance_id}}');return false;"
						type="button" class="btn btn-warning btn-xs" style="width: 80px;"><font size="2">Vote</font>
						</button>
				</td>

			</tr>
			

			{{/each}}

		</tbody>
	</table>
</div>

<script>
	function vote(event_award_instance_id) {
		document.location.href = '{{url "/votes/"}}'
				+ event_award_instance_id;

	}
</script>

