<div style="padding-top: 10px">
	<h3>Awards</h3>
	<table class="table" id="activityTable" border="">
		<thead>
			<tr>
				<th>Award name</th>
				<th>Event instance name</th>
				<th></th>

			</tr>
		</thead>
		<tbody>



			{{#each Entry}}

			<!--
			<tr onclick="document.location = {{url "/awards.jag/"}}{{event_award_id}}">  -->
			<tr>
				<td rowspan="2">{{eventName}}<br />{{eventDescription}}
				</td>
				<td rowspan="2">{{awardName}}<br />{{awardDescription}}
				</td>
				<td><button
						onclick="vote({{event_award_instance_id}});return false;"
						type="button" class="btn btn-danger btn-xs pull-right">
						Vote</button></td>

			</tr>

			{{/each}}

		</tbody>
	</table>
</div>
{{#if role}}
<script>
	function vote(id) {
		document.location.href = '{{url "/votes/"}}' + id;
	}
	
</script>
{{/if}}

