<div>
	<h3 style="margin-top: 0px">
		{{title}} :
		<button onclick="link('{{link1}}');return false;" type="button"
			class="btn btn-warning btn-xs pull-right"
			style="width: 125px; height: 25px">{{btn1}}</button>

		<button onclick="link('{{link2}}');return false;" type="button"
			class="btn btn-warning btn-xs pull-right"
			style="width: 125px; height: 25px">{{btn2}}</button>
	</h3>
	{{#if nullmsg}}
		<div class="well well-sm">
			<font size="4">dgdfgfhf</font>
		</div>
		{{/if}}}
	<div class="list-group">
		{{#each events}} <a
			style="margin: 0px; padding: 0px; border-width: 0px"
			href='{{url "/event-instance/"}}{{id}}' class="list-group-item">

			<div class="panel panel-custom">
				<div class="panel-heading">
					<h3 class="panel-title">{{name}}</h3>
				</div>
				<div style="margin: 10px" class="row">
					<div class="col-md-12">{{description}}</div>
				</div>
				<div style="margin: 0px; padding: 0px" class="row">

					<div style="margin: 10px;" class="col-md-3">


						<b>Start Date :</b>
						<div class="startDate">{{startDate}}</div>
						<b>End Date :</b>
						<div class="endDate">{{endDate}}</div>


					</div>
					{{#if activities}}

					<div class="col-md-8">

						<p class="list-group-item-text">

							<b>Up coming activities</b>
						<table class="table">
							<thead>
								<th>name</th>
								<th>description</th>
								<th>venue</th>
								<th>Date</th>
							</thead>
							<tbody>

								{{#each activities}}
								<tr>
									<td>{{name}}</td>
									<td>{{description}}</td>
									<td>{{venue}}</td>
									<td><div class="date">{{datetime}}</div></td>
								</tr>
								{{/each}}

							</tbody>
						</table>

						</p>
					</div>
					{{/if}}
				</div>
			</div>

		</a>
		<div>
			<br />
		</div>
		{{/each}}

	</div>
</div>
<script>
	function link(link) {
		document.location.href = '{{url "/"}}' + link;

	}
</script>

<script>
	$(".date").each(function() {
		var datetime = new Date($(this).html());
		$(this).html(datetime.toDateString());
	});

	$(".startDate").each(function() {
		var datetime = new Date($(this).html());
		$(this).html(datetime.toDateString());
	});

	$(".endDate").each(function() {
		var datetime = new Date($(this).html());
		$(this).html(datetime.toDateString());
	});
</script>