<div>

	<div style="background: #d9534f" class="panel panel-default">
		<div class="panel-body">
			<span class="glyphicon glyphicon-warning-sign"></span> Are you sure
			you want to delete this event? Deleting this event will also delete
			the following event instances
		</div>
	</div>

	<div class="list-group">
		{{#each Entry}} <a href='{{url "/events/"}}{{id}}'
			class="list-group-item"
			style='border-width: 2px; border-color: #d9534f'> {{name}} :
			{{description}} : {{startDate}} : {{endDate}} </a> {{/each}}
	</div>

	<div style="margin-top: 10px" class="panel panel-danger">
		<div  class="panel-heading">
			<h3 class="panel-title">{{event.event.name}}</h3>
		</div>
		<div class="panel-body">Description : {{event.event.description}}</div>

		<div class="panel-body">

			<div class="panel">Activities :</div>

			<ul class="list-group">
				{{#each event.activities.activity}} <li class="list-group-item">
					{{name}} : {{description}} <span
					class="label label-default pull-right">{{#if_eq type
						"G"}}Group{{/if_eq}}{{#if_eq type "I"}}Individual{{/if_eq}}</span>
				</li> {{/each}}
			</ul>

			<div class="panel">Awards :</div>

			<ul class="list-group">
				{{#each event.awards}} <li href="#" class="list-group-item"> {{name}} :
					{{description}}<span class="label label-default pull-right">{{#if_eq
						type "G"}}Group{{/if_eq}}{{#if_eq type "I"}}Individual{{/if_eq}}</span> <span
					class="label label-primary pull-right" id="voteLabel">{{#if_eq
						isVote "true"}}Vote{{/if_eq}}</span>
				</li> {{/each}}
			</ul>
		</div>
	</div>
	
	<div style="margin-bottom: 50px" class="btn-group pull-right">
		<button type="button" onclick='window.location.href="/HouseManagement/events"' class="btn btn-info">Cancel</button>
		<button type="button" onclick='window.location.href="{{url "/edit-event/"}}{{id}}"' class="btn btn-warning">Edit Event</button>
		<button type="button" onclick="deleteEvent({{id}});"
			class="btn btn-danger">Delete Event</button>
	</div>

</div>

<script>
function deleteEvent(id) {
		if (confirm("Are you sure you want delete this event?")) {

			$.ajax({
				type : "DELETE",
				contentType : "application/json",
				url : "{{url "/delete-event/"}}" + id,

				data : {},
				success : function(msg) {

					if (msg.success) {
						document.location.href='{{url "/events/"}}';
					} else {
						alert('Error - unable to delete event.');
					}
				}
			});

		}
}
</script>
