<div class="panel panel-custom">
	<div class="panel-heading">
		<h3 id="nameTag" class="panel-title">{{eventInstance.name}}</h3>

		<div id="nameInput" style="display: none" class="form-group">
			<input type="text" class="form-control" id="eventName"
				placeholder="Enter Event Name" value="{{eventInstance.name}}"
				required>
		</div>

	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-md-7">
				<div style="display:" id="infoView">
					<h4>Description :</h4>
					<div id="desc">{{eventInstance.description}}</div>

					<h4 id="duration">From : {{formatDate eventInstance.startDate "YYYY-MM-DD"}} To {{formatDate eventInstance.endDate "YYYY-MM-DD"}}</h4>
				</div>
				<div id="infoInput" style="display: none">
					<form id="myform" name="newEvent">

						<div class="form-group">
							<label for="eventDescriptionInput">Description</label>
							<textarea class="form-control" id="eventDescriptionInput"
								rows="3">{{eventInstance.description}}</textarea>
						</div>

						<div class="form-group">
								<label for="inputDate">Start Date : </label>
								<div class='inputDate input-group date' id='inputDate'>
									<input type='text' class="form-control" id='sdatepicker'
										data-format="YYYY-MM-DD" value="{{formatDate daeventInstance.startDatetetime "YYYY-MM-DD"}}" />
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-calendar"></span> </span>
								</div>
							</div>
							
						<div class="form-group">
								<label for="inputDate">End Date : </label>
								<div class='inputDate input-group date' id='inputDate'>
									<input type='text' class="form-control" id='edatepicker'
										data-format="YYYY-MM-DD" value="{{formatDate eventInstance.endDate "YYYY-MM-DD"}}" />
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-calendar"></span> </span>
								</div>
							</div>

					</form>

				</div>

				
				<div>
					<button class="btn btn-warning btn-xs pull-right"
						onclick="editEvent($(this))">Edit Basic Info</button>
				</div>
				

			</div>

			<div class="col-md-5">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">
							Results <span>
								<button class="btn btn-warning btn-xs pull-right"
									onclick="setRank($(this))">Set Results</button>
							</span> 
						</h3>
					</div>
					<div id="rankPanel" style="display:" class="panel-body">
						<table class="table table-condensed">

							{{#each ranks}}
							<tr>

								<td><h2>{{rank}}</h2></td>
								<td><img
									src="/HouseManagement/themes/classic/images/Cliub Logos-0{{house_id}}.jpg"
									alt="Smiley face" height="80" width="80"></td>

							</tr>
							{{/each}}

						</table>
					</div>
					
					<div id="rankInputForm" style="display: none" class="panel-body">

						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="center-block col-md-7">CloudBots :</div>
									<div class="col-md-5">
										<input name="1" type="text" class="Rank form-control"
											id="Rank" placeholder="Rank">
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="center-block col-md-7">Legion :</div>
									<div class="col-md-5">
										<input name="2" type="text" class="Rank form-control"
											id="Rank" placeholder="Rank">
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="center-block col-md-7">Titans :</div>
									<div class="col-md-5">
										<input name="3" type="text" class="Rank form-control"
											id="Rank" placeholder="Rank">
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="center-block col-md-7">WildBoars :</div>
									<div class="col-md-5">
										<input name="4" type="text" class="Rank form-control"
											id="Rank" placeholder="Rank">
									</div>
								</div>
							</li>

						</ul>

					</div>
					

				</div>


			</div>
		</div>

		<h4 class="panel">Activities :</h4>

		<ul class="list-group">
			{{#each activities}}

			<li class="list-group-item">
				<div class="row">

					<div class="col-md-7">
						<h4 class="list-group-item-heading">{{name}}</h4>
						<div style="display:" id="actInfoDisplay">
							<p id='description'>{{description}}</p>
							<p id='venue'>At : {{venue}}</p>
							<p id='datetime'>On : {{formatDate datetime "YYYY-MM-DD"}} at {{formatDate datetime "hh:mm a"}}</p>
						</div>
						<form style="display: none" id="actInfoForm" name="actInfoForm">
							<div class="form-group">
								<label for="actDescription">Description</label>
								<textarea class="form-control" id="actDesc" rows="3">{{description}}</textarea>
							</div>
							<div class="form-group">
								<label for="actVenue">Venue</label> <input type="text"
									class="form-control" id="actVenue" value="{{venue}}" required>
							</div>
							<div class="form-group">
								<label for="inputDate">Date/Time : </label>
								<div class='inputDate input-group date' id='inputDate'>
									<input type='text' class="form-control" id='actDateInput'
										data-format="YYYY-MM-DD HH:mm" value="{{formatDate datetime "YYYY-MM-DD HH:mm"}}" />
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-calendar"></span> </span>
								</div>
							</div>
						</form>


					</div>
					<div class="col-md-5">				
						
							<table id="winnerButtons" class="pull-right">
								<tr>
									<td>
										<button id="setWinnerButton" type="button"
											class="btn btn-warning btn-xs"
											onclick='$(this).parents().eq(4).find("#addActivityRankForm").css("display",""); $(this).parents().eq(3).css("display","none");'>Add
											Result</button>
									</td>
									{{#if winner}}
							
									<td>
										<button id="setWinnerButton" type="button"
											class="btn btn-danger btn-xs"
											onclick='$(this).parents().eq(4).find("#deleteActivityWinnerForm").css("display",""); $(this).parents().eq(3).css("display","none");$(this).parents().eq(4).find("#winner-list").css("display","none");'>Remove
											Result</button>
									</td>
								
									{{/if}}
								</tr>
							</table>
						
						
						
							<form style="display:none"
							onsubmit="addActivityRank($(this)); return false;"
							id="addActivityRankForm" name="addActivityRankForm" class="pull-right">


							<div id="asd" class="form-group">
								<label for="eventName">Rank</label> 
								<input type="number" class="form-control" id="rankInput"
									placeholder="Enter Rank"
									required min="1">
							</div>
						
							<div class="form-group">
								<label for="eventDescriptionInput">Description</label>
								<textarea class="form-control" id="eventDescriptionInput"
									rows="3">{{eventInstance.description}}</textarea>
							</div>

						
							{{#if_eq type "G"}}
							<div class="form-group">
								<select id="winner" class="form-control">
								  <option value="1">Cloud Bots</option>
								  <option value="2">Legion</option>
								  <option value="3">Titans</option>
								  <option value="4">Wild Boars</option>
								</select>
							</div>
							{{/if_eq}}
							{{#if_eq type "I"}}
							<div class="form-group">
								<label for="eventName">Name</label> 
								<input type="text" class="form-control" id="winner"
									placeholder="Enter Rank"
									required>
							</div>
							{{/if_eq}}
							
							<input id="isIndividual" value="{{#if_eq
									type "I"}}true{{/if_eq}}" hidden/>
							<input id="id" value="{{id}}" hidden />
							<button type="submit" class="btn btn-success btn-xs">submit</button>
							<button type="button" class="btn btn-warning btn-xs" onclick="$(this).parent().css('display','none');$(this).parents().eq(1).find('#winnerButtons').css('display',''); return false;">Cancel</button>
						</form>
							
							
						{{#if winner}}
						<form style="display:none"
							onsubmit="removeActivityWinners($(this)); return false;"
							id="deleteActivityWinnerForm" name="deleteActivityWinnerForm" class="pull-right">

							<div class="form-group">
								{{#each winner}} <label class="checkbox"> <input
									type="checkbox" class="name" id="{{winner}}" value="{{winner}}">{{rank}} : {{#if_eq
									../type "I"}}{{winner}}{{/if_eq}} {{#if_eq ../type "G"}} <img
									src="/HouseManagement/themes/classic/images/Cliub Logos-0{{winner}}.jpg"
									height="40" width="40" /> {{/if_eq}}


								</label> {{/each}}
							</div>
							<input id="individual" value="{{#if_eq
									../type "I"}}true{{/if_eq}}" hidden/>
							<input id="id" value="{{../id}}" hidden />
							<button type="submit" class="btn btn-danger btn-xs">Remove</button>
							<button type="button" class="btn btn-warning btn-xs" onclick="$(this).parent().css('display','none');$(this).parents().eq(1).find('#winnerButtons').css('display','');$(this).parents().eq(1).find('#winner-list').css('display',''); return false;">Cancel</button>
						</form>
						{{/if}}
							
							
						






						{{#unless winner}} <span class="label label-default pull-right">
							{{#if_eq type "G"}}Group{{/if_eq}} {{#if_eq type
							"I"}}Individual{{/if_eq}} </span> {{/unless}} 
							
							
						{{#if winner}}
						<div id="winner-list">
						<h4>Results :</h4>
						<table style="margin: 0px" class="table table-condensed">
							{{#each winner}}
							<tr>
								<td style="border: none"><h5>{{rank}} :
										{{description}}</h5></td>

								<td style="border: none">{{#if_eq ../type "I"}}
									<h5>{{winner}}</h5> {{/if_eq}} {{#if_eq ../type "G"}} <img
									class="pull-right"
									src="/HouseManagement/themes/classic/images/Cliub Logos-0{{winner}}.jpg"
									alt="Smiley face" height="40" width="40"> {{/if_eq}}
								</td>
							</tr>
							{{/each}}
						</table>
						</div>
						{{/if}}


					</div>
				</div> 
				<div class="row">
					<div class="btn-group" style="margin-left: 10px">
						<button type="button" onclick='editActivity($(this),"{{id}}")'
							class="btn btn-warning btn-xs">Edit</button>
						<button type="button" onclick='deleteActivity($(this),"{{id}}")'
							class="btn btn-danger btn-xs">Delete</button>
					</div>
				</div>
			</li> {{/each}}
		</ul>

		<h4 class="panel">Awards :</h4>

		<ul class="list-group">
			{{#each awards}}
			<li class="list-group-item">
				<div class="row">

					<div class="col-md-6">
						<h4 class="list-group-item-heading">{{name}}</h4>
						<p id='description'>{{description}}</p>

						<div style="display:" id="awdInfoDisplay">
							{{#if_eq isVote "true"}}{{#unless winner}}
							<p id='voteStart'>Voting Starts On : {{formatDate vote_startDate "YYYY-MM-DD \at hh:mm a"}}</p>
							<p id='voteEnd'>Voting Ends On : {{formatDate vote_endDate "YYYY-MM-DD \at hh:mm a"}}</p>
							{{/unless}}{{/if_eq}}
						</div>

						<form style="display: none"
							onsubmit='submitEditedAward($(this),"{{id}}","{{isVote}}");return false;'
							id="awdInfoForm" name="awdInfoForm">

							{{#if_eq isVote "true"}}{{#unless winner}}
							<div class="form-group">

								<label for="inputDate">Voting start on : </label>
								<div class='inputDate input-group date' id='inputDate'>
									<input type='text' class="form-control"
										id='awdVoteStartDateInput' data-format="YYYY-MM-DD HH:mm"
										value="{{formatDate vote_startDate "YYYY-MM-DD HH:mm"}}" /> <span class="input-group-addon"><span
										class="glyphicon glyphicon-calendar"></span> </span>
								</div>
							</div>
							<div class="form-group">
								<label for="inputDate">Voting ends on : </label>
								<div class='inputDate input-group date' id='inputDate'>
									<input type='text' class="form-control"
										id='awdVoteEndDateInput' data-format="YYYY-MM-DD HH:mm"
										value="{{formatDate vote_endDate "YYYY-MM-DD HH:mm"}}" /> <span class="input-group-addon"><span
										class="glyphicon glyphicon-calendar"></span> </span>
								</div>
							</div>
							<input type="hidden" id="startDate" value="{{vote_startDate}}">
							<input type="hidden" id="endDate" value="{{vote_endDate}}">
							{{/unless}}{{/if_eq}}
							<button type="submit" class="btn btn-success btn-xs">Submit</button>
							<button onclick='cancelEditAward($(this));return false;'
								class="btn btn-warning btn-xs">Cancel</button>
						</form>

					</div>
					<div class="col-md-6">
					<!-- Remove winners are enabled  if there are any winners -->
						{{#if winner}}
						<form style="display:none"
							onsubmit="removeAwardWinners($(this)); return false;"
							id="deleteAwardWinnerForm" name="deleteAwardWinnerForm" class="pull-right">

							<div class="form-group">
								{{#each winner}} <label class="checkbox"> <input
									type="checkbox" class="name" id="{{name}}" value="{{name}}">{{#if_eq
									../type "I"}}{{name}}{{/if_eq}} {{#if_eq ../type "G"}} <img
									src="/HouseManagement/themes/classic/images/Cliub Logos-0{{name}}.jpg"
									height="40" width="40" /> {{/if_eq}}


								</label> {{/each}}
							</div>
							<input id="individual" value="{{#if_eq
									../type "I"}}true{{/if_eq}}" hidden/>
							<input id="id" value="{{../id}}" hidden />
							<button type="submit" class="btn btn-danger btn-xs">Remove</button>
							<button type="button" class="btn btn-warning btn-xs" onclick="$(this).parent().css('display','none');$(this).parents().eq(1).find('#winnerButtons').css('display','');$(this).parents().eq(1).find('#winnerlist').css('display',''); return false;">Cancel</button>
						</form>
						{{/if}}

						{{#if_eq type "I"}}
						<form style="display: none"
							onsubmit="addAwardWinnerIndividual($(this)); return false;"
							id="winnerForm" name="actInfoForm" class="pull-right">

							<div class="form-group">
								<label for="name">Winner</label> <input type="text"
									class="form-control" id="nameInput" required>
							</div>
							<button type="submit" class="btn btn-success btn-xs">Submit</button>
							<button type="button" onclick="$(this).parent().css('display','none'); $(this).parents().eq(1).find('#winnerButtons').css('display','')" class="btn btn-warning btn-xs">cancel</button>
							<input id="id" value="{{../id}}" hidden />
						</form>
						{{/if_eq}} {{#if_eq type "G"}}
						<form style="display: none"
							onsubmit="addAwardWinnerGroup($(this)); return false;"
							id="winnerForm" name="awdWinnerForm" class="pull-right">

							<div class="form-group">
								<label class="checkbox"> <input type="checkbox"
									class="house" id="1" value="1">Cloud Bots
								</label> <label class="checkbox"> <input type="checkbox"
									class="house" id="2" value="2">Legion
								</label> <label class="checkbox"> <input type="checkbox"
									class="house" id="3" value="3">Titans
								</label> <label class="checkbox"> <input type="checkbox"
									class="house" id="4" value="4">Wild Boars
								</label>
							</div>
							<input id="id" value="{{../id}}" hidden />
							<button type="submit" class="btn btn-success btn-xs">Submit</button>
							<button type="button" onclick="$(this).parent().css('display','none'); $(this).parents().eq(1).find('#winnerButtons').css('display','')" class="btn btn-warning btn-xs">cancel</button>
						</form>
						{{/if_eq}}
						
						<!-- Button to display the forms for adding and deleting Winners -->
						<table id="winnerButtons" class="pull-right">
								<tr>
									<td>
										<button id="setWinnerButton" type="button"
										class="btn btn-warning btn-xs pull-right"
										onclick=' $(this).parents().eq(3).css("display","none");$(this).parents().eq(4).find("#winnerForm").css("display","");'>Add
										Winner</button>
									</td>
									{{#if winner}}
							
									<td>
										<button id="setWinnerButton" type="button"
										class="btn btn-danger btn-xs pull-right"
										onclick='$(this).parents().eq(4).find("#deleteAwardWinnerForm").css("display",""); $(this).parents().eq(3).css("display","none");$(this).parents().eq(4).find("#winnerlist").css("display","none");'>Remove
										Winner</button>
									</td>
								
									{{/if}}
								</tr>
						</table>

						
						
						
						{{#if winner}}
						<div id="winnerlist">
						 {{#if_eq
						../type "G"}} {{#each winner}} <img class="pull-right"
							src="/HouseManagement/themes/classic/images/Cliub Logos-0{{name}}.jpg"
							height="60" width="60" /> {{/each}} {{/if_eq}} {{#if_eq ../type
						"I"}}
						<table style="margin: 0px" class="table">

							{{#each winner}}
							<tr style="border-width: 0px; padding: 0px">


								<td class="pull-right" style="border: none"><b>{{name}}</b></td>
							</tr>
							{{/each}}

						</table>
						{{/if_eq}}
						</div>
						 {{/if}}
					</div>
				</div> 
				<div style="display:" id="awdAdminButtons" class="row">
					<div class="btn-group" style="margin-left: 10px">
						<button type="button"
							onclick="editAward($(this),{{id}},{{isVote}})"
							class="btn btn-warning btn-xs">Edit</button>
						<button type="button" onclick="deleteAward($(this),{{id}})"
							class="btn btn-danger btn-xs">Delete</button>
					</div>
				</div> 
			</li> {{/each}}
		</ul>
	</div>
</div>


<script>
	$(document).ready(

	/* This is the function that will get executed after the DOM is fully loaded */
	function() {
		$('.inputDate').datetimepicker();
	}

	);

	/* this function is used to set the event ranking */
	function setRank(button) {
		$('#rankPanel').css('display', 'none');
		$('#rankInputForm').css('display', '');

		button
				.parent()
				.html(
						'<button class="btn btn-success btn-xs pull-right"	onclick="submitRank($(this))">Submit</button><button class="btn btn-warning btn-xs pull-right"	onclick="cancelRanking($(this))">Cancel</button>')
	}

	function cancelRanking(button) {
		$('#rankPanel').css('display', '');
		$('#rankInputForm').css('display', 'none');

		button
				.parent()
				.html(
						'<button class="btn btn-warning btn-xs pull-right"	onclick="setRank($(this))">Set Results</button>')
	}

	function submitRank(button) {
		var ranks = [];

		$('.Rank').each(function() {
			if ($(this).val().match(/^\d+$/)) {
				ranks.push({
					'house_id' : $(this).attr('name'),
					'rank' : $(this).val()
				});
			}
		});

		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : '{{url "/edit-event-instance/"}}' + '?operation=setRank',
			data : JSON.stringify({
				'eventId' : '{{eventInstance.id}}',
				'rankings' : ranks
			}),
			success : function(msg) {
				if (msg.redirect) {
					window.location = msg.url;
				}
				;
				location.reload();
			}
		});

	}

	function editEvent(button) {

		$('#nameTag').css('display', 'none');
		$('#nameInput').css('display', '');
		$('#infoView').css('display', 'none');
		$('#infoInput').css('display', '');

		button
				.parent()
				.html(
						'<button class="btn btn-success btn-xs pull-right" onclick="submitInfo($(this))">Submit</button><button class="btn btn-warning btn-xs pull-right" onclick="cancelEditEvent($(this))">cancel</button>')
	}

	function cancelEditEvent(button) {

		$('#nameTag').css('display', '');
		$('#nameInput').css('display', 'none');
		$('#infoView').css('display', '');
		$('#infoInput').css('display', 'none');

		button
				.parent()
				.html(
						'<button class="btn btn-warning btn-xs pull-right" onclick="editEvent($(this))">Edit Basic Info</button>')
	}

	function submitInfo(button) {
		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : '{{url "/edit-event-instance/"}}' + '?operation=updateInfo',
			data : JSON.stringify({
				'id' : '{{eventInstance.id}}',
				'name' : $('#eventName').val(),
				'description' : $('#eventDescriptionInput').val(),
				'startDate' : $('#sdatepicker').val(),
				'endDate' : $('#edatepicker').val(),
			}),
			success : function(msg) {
				if (msg.success) {

					$('#nameTag').html($('#eventName').val());
					$('#desc').html($('#eventDescriptionInput').val());
					$('#duration').html("From : "+ $('#sdatepicker').val() + " To " + $('#edatepicker').val());

				} else {
					alert("Error");
				}
			}
		});
		cancelEditEvent(button);
	}
	
	function deleteActivity(button,id){
		
		if(confirm("Are you sure you want to delete this Activity")){
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : '{{url "/edit-event-instance/"}}' + '?operation=deleteActivity',
				data : JSON.stringify({ 'id':id
				}),
				success : function(msg) {
					if (msg.success) {
						button.parent().parent().parent().remove()

					} else {
						alert("Error");
					}
				}
			});
			return;
		}
		
	}
	function deleteAward(button,id){
		
		if(confirm("Are you sure you want to delete this Award")){
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : '{{url "/edit-event-instance/"}}' + '?operation=deleteAward',
				data : JSON.stringify({ 'id':id
				}),
				success : function(msg) {
					if (msg.success) {
						button.parent().parent().parent().remove()

					} else {
						alert("Error");
					}
				}
			});
			return;
		}
		
	}
	
	function editActivity(button,id){
		
		button.parent().parent().parent().find('#actInfoDisplay').css('display', 'none');
		
		button.parent().parent().parent().find('#actInfoForm').css('display', '');
		
		button.parent().html('<button type="button" onclick="submitEditedActivity($(this),\''+id+'\')" class="btn btn-success btn-xs">Submit</button><button type="button" onclick="cancelEditActivity($(this),\''+id+'\')" class="btn btn-warning btn-xs">Cancel</button>');
	
	}
	
	function cancelEditActivity(button,id){
		button.parent().parent().parent().find('#actInfoDisplay').css('display', '');
		
		button.parent().parent().parent().find('#actInfoForm').css('display', 'none');
		
		button.parent().html('<button type="button" onclick="editActivity($(this),\''+id+'\')" class="btn btn-warning btn-xs">Edit</button><button type="button" onclick="deleteActivity($(this),\''+id+'\')" class="btn btn-danger btn-xs">Delete</button>');
	}
	
	
	function submitEditedActivity(button, id){
		var description = button.parent().parent().parent().find('#actDesc').val();
		var venue = button.parent().parent().parent().find('#actVenue').val();
		var date =  moment(button.parent().parent().parent().find('#actDateInput').val());
		
		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : '{{url "/edit-event-instance/"}}' + '?operation=updateActivity',
			data : JSON.stringify({
				'id' : id,
				'description' : description,
				'datetime' : date.format("YYYY-MM-DD HH:mm"),
				'venue' : venue,
			}),
			success : function(msg) {
				if (msg.success) {

					button.parent().parent().parent().find('#description').html(description);
					button.parent().parent().parent().find('#venue').html("At : "+venue);
					button.parent().parent().parent().find('#datetime').html("On : "+date.format("YYYY-MM-DD")+" at "+date.format("hh:mm a"));
					
					cancelEditActivity(button,id);

				} else {
					alert("Error");
				}
			}
		});
		
	}
	
	function editAward(button,id,isVote){
		button.parent().parent().parent().find('#awdInfoDisplay').css('display', 'none');
		button.parent().parent().parent().find('#awdInfoForm').css('display', '');
		button.parent().parent().css('display', 'none');
	}
	
	function cancelEditAward(button){
		button.parent().parent().find('#awdInfoDisplay').css('display', '');
		button.parent().parent().find('#awdInfoForm').css('display', 'none');
		button.parent().parent().parent().parent().find('#awdAdminButtons').css('display', '');
	}
	
	
	function submitEditedAward(form, id,isVote){
		var now = moment();
		
		var messages = [];
		
			var current_start = moment(form.find('#startDate').val());
			var current_end = moment(form.find('#endDate').val());
			
			var startDate = moment(form.find('#awdVoteStartDateInput').val());
			var endDate = moment(form.find('#awdVoteEndDateInput').val());
			
			//wrong dates
			if(endDate-startDate<0){
				alert("Start Date can't be after End Date");
				return false;
			}
			
			//dates should be valid
			if(!startDate.isValid()||!endDate.isValid()){
				alert("Please enter correct dates");
				return false;
			}
			
			//while in the voting period
			if(current_start-now<0 && current_end-now>0){
				if(endDate-startDate<0){
					alert("Start Date can't be after End Date");
					return false;
				}
				if(startDate-current_start!=0){
					alert("Currently in voting period. So changing the start date is not possible");
					return false;
				}
			}
			
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : '{{url "/edit-event-instance/"}}' + '?operation=updateAward',
				data : JSON.stringify({
					'id' : id,
					'vote_start_date' : startDate.format("YYYY-MM-DD HH:mm"),
					'vote_end_date' : endDate.format("YYYY-MM-DD HH:mm")
				}),
				success : function(msg) {
					if (msg.success) {
						
						location.reload();

					} else {
						alert("Error");
					}
				}
			});
			
			
		}
	
	function addAwardWinnerIndividual(form){
		var name=form.find('#nameInput').val();
		var id= form.find('#id').val();
		
		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : '{{url "/edit-event-instance/"}}' + '?operation=addAwardWinnerIndividual',
			data : JSON.stringify({
				'id' : id,
				'name':name
			}),
			success : function(msg) {
				if (msg.success) {
					location.reload();

				} else {
					alert(msg.error);
				}
			}
		});
	}
	
	function addAwardWinnerGroup(form){
	
		var id= form.find('#id').val();
		var winners = [];
		
		form.find('.house:checked').each(function() {
			winners.push({'event_award_instance_id':id ,'house_id':this.id});
		});
		
		if(winners.length>0){
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : '{{url "/edit-event-instance/"}}' + '?operation=addAwardWinnerHouse',
				data : JSON.stringify(winners),
				success : function(msg) {
					if (msg.success) {
						location.reload();
	
					} else {
						alert(msg.error);
					} 
				}
			});
		}
		form.css("display","none");
		form.parent().find("#setWinnerButton").css("display","");
	}
		
	
	function removeAwardWinners(form){
		var id= form.find('#id').val();
		var isIndividual = form.find('#individual').val();
		
		var winners = [];
		
		form.find('.name:checked').each(function() {
			winners.push({'event_award_instance_id':id ,'name':this.id});
		});
		
		if(winners.length>0){
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : '{{url "/edit-event-instance/"}}' + '?operation=removeAwardWinnerIndividual',
				data : JSON.stringify({'isIndividual':isIndividual,'winners':winners}),
				success : function(msg) {
					if (msg.success) {
						location.reload();
	
					} else {
						alert(msg.error);
					} 
				}
			});
		}
	}
	
	function addActivityRank(form){
		var id= form.find('#id').val();
		var isIndividual= form.find('#isIndividual').val();
		var rank= form.find('#rankInput').val();
		var description= form.find('#eventDescriptionInput').val();
		var winner = form.find('#winner').val();
		
		
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : '{{url "/edit-event-instance/"}}' + '?operation=addAcivityRanking',
				data : JSON.stringify({'isIndividual':isIndividual,'winner':winner,'id':id,'rank':rank, 'description':description}),
				success : function(msg) {
					if (msg.success) {
						location.reload(); 
	
					} else {
						alert(msg.error);
					} 
				}
			}); 
	}
	
	function removeActivityWinners(form){
		
		
		var id= form.find('#id').val();
		var isIndividual = form.find('#individual').val();
		
		var winners = [];
		
		form.find('.name:checked').each(function() {
			winners.push({'activity_instance_id':id ,'name':this.id});
		});
		
		if(winners.length>0){
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : '{{url "/edit-event-instance/"}}' + '?operation=removeActivityWinners',
				data : JSON.stringify({'isIndividual':isIndividual,'winners':winners}),
				success : function(msg) {
					if (msg.success) {
						location.reload();
	
					} else {
						alert(msg.error);
					} 
				}
			});
		}
	}
	
	
</script>