<form id="myform" name="newEvent">
	<div class="form-group">
		<label for="eventName">Event Name</label> <input type="text"
			class="form-control" id="eventName" placeholder="Enter Event Name"
			value="{{event.name}}" required>
	</div>
	<div class="form-group">
		<label for="eventDescription">Description</label>
		<textarea class="form-control" id="eventDescription" rows="3">{{event.description}}</textarea>
	</div>
</form>
<button id="submitButton" type="submit" class="btn btn-default">Submit</button>

<div style="padding-top: 10px">
	Activities :
	<table class="table" id="activityTable">

		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th style="text-align: center">Type</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each activities.activity}}
			<tr>
				<td>{{name}}</td>
				<td>{{description}}</td>
				<td align="center">{{type}}</td>
				<td align="center"><button type="button"
						style="padding-left: 15px; padding-right: 15px"
						class="btn btn-warning btn-xs">edit</button></td>
				<td align="center"><button type="button"
						class="btn btn-danger btn-xs">delete</button></td>
			</tr>

			{{/each}}
		</tbody>

	</table>
</div>
<div style="padding-top: 10px">
	Awards :
	<table class="table" id="awardTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th style="text-align: center">Vote</th>
				<th style="text-align: center">Type</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each awards}}
			<tr>
				<td>{{name}}</td>
				<td>{{description}}</td>
				<td align="center">{{isVote}}</td>
				<td align="center">{{type}}</td>
				<td align="center"><button type="button"
						style="padding-left: 15px; padding-right: 15px"
						class="btn btn-warning btn-xs">edit</button></td>
				<td align="center"><button type="button"
						class="btn btn-danger btn-xs">delete</button></td>
			</tr>

			{{/each}}
		</tbody>

	</table>
</div>

<button id="submitButton" type="submit" class="btn btn-default"
	onclick="showHideCommon('newActivityPanel')">Add Activity</button>
<button id="submitButton" type="submit" class="btn btn-default"
	onclick="showHideCommon('newAwardPanel')">Add Award</button>

<div id="newActivityPanel" class="panel panel-default"
	style="display: none; margin-top: 10px">
	<div class="panel-heading">Add New Activity</div>
	<div class="panel-body">
		<form id="myform" name="newActivity">
			<div class="form-group">
				<label for="activityName">Activity Name</label> <input type="text"
					class="form-control" id="activityName"
					placeholder="Enter Activity Name" required>
			</div>
			<div class="form-group">
				<label for="activityDescription">Description</label>
				<textarea class="form-control" id="activityDescription" rows="3"></textarea>
			</div>
			<div class="form-group">
				<select id="activityType" class="form-control">
					<option value="G">Group Activity</option>
					<option value="I">Individual Activity</option>
				</select>
			</div>
		</form>
		<button id="submitActivityButton" class="btn btn-default"
			onclick="addActivity();">Add</button>
	</div>
</div>

<div id="newAwardPanel" class="panel panel-default"
	style="display: none; margin-top: 10px">
	<div class="panel-heading">Add New Award</div>
	<div class="panel-body">
		<form id="myform" name="newAward">
			<div class="form-group">
				<label for="awardName">Activity Name</label> <input type="text"
					class="form-control" id="awardName" placeholder="Enter award Name"
					required>
			</div>
			<div class="form-group">
				<label for="awardDescription">Description</label>
				<textarea class="form-control" id="awardDescription" rows="3"></textarea>
			</div>
			<div class="form-group">
				<select id="awardType" class="form-control">
					<option value="G">Group Award</option>
					<option value="I">Individual Award</option>
				</select>
				<div class="checkbox">
					<label> <input id="awardIsVote" type="checkbox" value=true>Add
						Vote
					</label>
				</div>
			</div>
		</form>
		<button id="submitAwardButton" class="btn btn-default"
			onclick="addAward();">Add</button>
	</div>
</div>

<script type="text/javascript">
		var activityList = [];
		var awardList = [];

		function showHideCommon(divId) {
			var theDiv = document.getElementById(divId);
			if (theDiv.style.display == "none") {
				theDiv.style.display = "";
			} else {
				theDiv.style.display = "none";
			}
		}

		function validateActivityForm() {
			var x = document.getElementById('activityName').value;
			if (x == null || x == "") {
				var warningLabel = document
						.getElementById("activityNameWarning");
				warningLabel.style.display = "inline";
				return false;

			}

			return true;
		}

		function validateAwardForm() {
			var x = document.getElementById('awardName').value;
			if (x == null || x == "") {

				var warningLabel = document.getElementById("awardNameWarning");
				warningLabel.style.display = "inline";
				return false;

			}

			return true;
		}

		function addAward() {

			if (validateAwardForm()) {

				var awardName = document.getElementById('awardName').value;
				var awardDescription = document
						.getElementById('awardDescription').value;
				var awardType = document.getElementById('awardType').value;
				var awardIsVote = document.getElementById('awardIsVote').checked;

				$('#awardTable > tbody:last').append(
						'<tr><td>' + awardName + '</td><td>'
								+ awardDescription + '</td><td>'
								+ awardIsVote + '</td><td>'
								+ awardType + '</td></tr>');

				var award = new Object();
				award.name = awardName;
				award.description = awardDescription;
				award.type = awardType;
				award.isVote = awardIsVote

				awardList.push(award);

				showHideCommon("newAwardPanel");
			}
		}

		function addActivity() {

			if (validateActivityForm()) {

				var activityName = document.getElementById('activityName').value;
				var activityDescription = document
						.getElementById('activityDescription').value;
				var activityType = document.getElementById('activityType').value;

				$('#activityTable > tbody:last').append(
						'<tr><td>' + activityName + '</td><td>'
								+ activityDescription + '</td><td>'
								+ activityType + '</td></tr>');

				var activity = new Object();
				activity.name = activityName;
				activity.desc = activityDescription;
				activity.type = activityType;

				activityList.push(activity);

				showHideCommon("newActivityPanel");
			}
		}

		$(document)
				.ready(
						function() {

							$('#submitButton')
									.click(
											function() {

												var eventName = document
														.getElementById('eventName').value;
												var eventDescription = document
														.getElementById('eventDescription').value;

												$
														.ajax({
															type : "PUT",
															contentType : "application/json",
															url : "{{url "/edit-event/"}}",

															data : JSON
																	.stringify({
																		"event" : {
																			"name" : eventName,
																			"description" : eventDescription,
																			"id":"{{event.id}}",
																		}
																	}),
															success : function(
																	msg) {
																if(msg.redirect){
																	window.location = msg.url;
																};
															}
														});

											});

						});
</script>