<div class="panel panel-custom" style="border-radius: 0px">
	<div class="panel-heading" style="border-radius: 0px">
		<h3 class="panel-title">{{eventInstance.name}}
		{{#if isAdmin}}<button id="voteButton" type="button" style="min-height: 1px;height: 39px; margin-top:-11px; margin-right:-16px; border-radius:0px"
			class="btn btn-warning btn-xs pull-right"
			onclick='window.location.href="edit-event-instance/{{eventInstance.id}}"'>Edit Event</button>
			
			<button id="voteButton" type="button" style="min-height: 1px;height: 39px; margin-top:-11px; margin-right:-10px; border-radius:0px"
			class="btn btn-danger btn-xs pull-right"
			onclick='window.location.href="delete-event-instance/{{eventInstance.id}}"'>Delete Event</button>
			
			
			{{/if}}</h3>
	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-md-8">Description :
				{{eventInstance.description}}
				
				<h4 >From : {{formatDate eventInstance.startDate "YYYY-MM-DD"}} To {{formatDate eventInstance.endDate "YYYY-MM-DD"}}</h4>
						
			</div>

			<div class="col-md-3">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Results</h3>
					</div>
					<div class="panel-body">
						<table class="table">

							{{#each ranks}}
							<tr>

								<td><h2>{{rank}}</h2></td>
								<td><img
									src="themes/classic/images/Cliub Logos-0{{house_id}}.jpg"
									alt="Smiley face" height="80" width="80"></td>

							</tr>
							{{/each}}

						</table>
					</div>


				</div>


			</div>
		</div>


		

		<h4 class="panel">Activities :</h4>

		<ul class="list-group">
			{{#each activities}}

			<li class="list-group-item">
				<div class="row">

					<div class="col-md-7">

						<h4 class="list-group-item-heading">{{name}}</h4>
						<p>{{description}}</p>
						<p>At : {{venue}}</p>
						<p>On : {{formatDate datetime "YYYY-MM-DD"}} at {{formatDate datetime "hh:mm a"}}</p>
					</div>
					<div class="col-md-5">
						{{#unless winner}} <span class="label label-default pull-right">
							{{#if_eq type "G"}}Group{{/if_eq}} {{#if_eq type
							"I"}}Individual{{/if_eq}} </span> {{/unless}} {{#if winner}}
						<h4>Results :</h4>
						<table style="margin: 0px" class="table table-condensed">
							{{#each winner}}
							<tr>
								<td style="border: none; text-align:right"><h5>{{rank}} :
										{{description}}</h5></td>

								<td style="border: none; width:40px">{{#if_eq ../type "I"}}
									<h5>{{winner}}</h5> {{/if_eq}} {{#if_eq ../type "G"}} <img
									class="pull-left"
									src="themes/classic/images/Cliub Logos-0{{winner}}.jpg"
									alt="Smiley face" height="40" width="40"> {{/if_eq}}
								</td>
							</tr>
							{{/each}}
						</table>
						{{/if}}
					</div>
				</div>
			</li> {{/each}}
		</ul>

		<h4 class="panel">Awards :</h4>

		<ul class="list-group">
			{{#each awards}}
			<li class="list-group-item">
				<div class="row">

					<div class="col-md-6">
						<h4 class="list-group-item-heading">{{name}}</h4>
						<p id='description'>{{description}}</p>

						<div style="display:" id="awdInfoDisplay">
							{{#if_eq isVote "true"}}{{#unless winner}}
							<p id='voteStart'>Voting Starts On :{{formatDate
								vote_startDate "YYYY-MM-DD \at hh:mm a"}}</p>
							<p id='voteEnd'>Voting Ends On :{{formatDate vote_endDate "YYYY-MM-DD \at hh:mm a"}}</p>
							{{/unless}}{{/if_eq}}
						</div>

					</div>
					<div class="col-md-6">

						{{#if_eq isVote "true"}} {{#isVotingPeriod vote_startDate
						vote_endDate}}

						{{#unless winner}}
						<button id="voteButton" type="button"
							class="btn btn-success btn-xs pull-right"
							onclick='window.location.href="votes/{{id}}"'>Vote
							for your pick</button>
						{{/unless}}

						{{/isVotingPeriod}} {{/if_eq}} {{#if winner}}
						<div id="winnerlist">
							{{#if_eq ../type "G"}} {{#each winner}} <img class="pull-right"
								src="themes/classic/images/Cliub Logos-0{{name}}.jpg"
								height="60" width="60" /> {{/each}} {{/if_eq}} {{#if_eq ../type
							"I"}}
							<table style="margin: 0px" class="table">

								{{#each winner}}
								<tr style="border-width: 0px; padding: 0px">


									<td class="pull-right" style="border: none"><b>{{name}}</b></td>
								</tr>
								{{/each}}

							</table>
							{{/if_eq}}
						</div>
						{{/if}}
					</div>
				</div>
			</li> {{/each}}
		</ul>
	</div>
</div>