<div>
	<div class="list-group">
		{{#each events.event}} <a href='events/{{id}}'
			class="list-group-item"><b>{{name}}</b>  : {{description}} {{#if
			../role}}
			
			
			
			<button style="min-height: 1px;height: 40px; margin-top:-10px; margin-right:-15px; border-radius:0px;" onclick="deleteEvent({{id}});return false;" type="button"
				class="btn btn-danger pull-right">delete</button>
			<button onclick="editEvent({{id}});return false;" type="button"
				style="min-height: 1px;height: 40px; margin-top:-10px; margin-right:-15px; border-radius:0px" class="btn btn-warning pull-right">edit</button>
			{{/if}}
		</a> {{/each}}
	</div>
</div>


{{#if role}}
<script>
	function editEvent(id) {
		document.location.href = 'edit-event/' + id;
	}

	function deleteEvent(id, row) {
		document.location.href = 'delete-event/'+id;
	}
</script>
{{/if}}
