<div>
	<h3 style="margin-top: 0px">{{title}} :</h3>
	<div class="list-group">
		{{#if past}} {{#each events.Entry}} <a
			style="margin: 0px; padding: 0px"
			href='event-instance/{{id}}' class="list-group-item">
			<!-- <h4 class="list-group-item-heading">{{name}}</h4> <br
			style="clear: both;" />
			-->

			<div style="margin: 0px; padding: 0px" class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{name}}</h3>
				</div>

				<div style="width: 65%; float: left">
					<div style="width: 10%; float: left"></div>
					<div style="width: 90%; float: right">
						<p align="justify" class="list-group-item-text">
							<br />{{description}}<br />
						</p>

						<br />Start Date :
						<div class="startDate">{{startDate}}</div>
						<br />End Date :
						<div class="endDate">{{endDate}}</div>
						<br />
					</div>

				</div>

				<div style="width: 25%; float: right">
					<div style="width: 100%; float: left">
						<p class="list-group-item-text">
							<br /> <b>First Place Winner </b><br /> <br />
						</p>
					</div>
					<div style="width: 90%; float: right">
						<img src="themes/classic/images/Cliub Logos-0{{house_id}}.jpg"
							alt="Smiley face" height="80" width="80"><br /> <br />
					</div>

				</div>
				<br style="clear: both;" />
			</div>

		</a>


		<div>
			<br />
		</div>
		{{/each}} {{/if}} {{#if current}} {{#each events}} <a
			style="margin: 0px; padding: 0px"
			href='event-instance/{{id}}' class="list-group-item">
			<!-- <h4 class="list-group-item-heading">{{name}}</h4> <br

			style="clear: both;" />
			-->

			<div style="margin: 0px; padding: 0px" class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{name}}</h3>
				</div>
				<div class="row">

					<div class="col-md-3" style="margin: 10px">

						<p class="list-group-item-text">
						<p align="justify">{{description}}</p>
						<br />Start Date :
						<div class="startDate">{{startDate}}</div>
						<br />End Date :
						<div class="endDate">{{endDate}}</div>

						</p>
					</div>
					{{#if activities}}

					<div class="col-md-8" style="margin: 10px">

						<p class="list-group-item-text">

							<b>Up coming activities</b>
						<table class="table">
							<thead>
								<th>name</th>
								<th>description</th>
								<th>venue</th>
								<th>Date</th>
							</thead>
							<tbody>

								{{#each activities}}
								<tr>
									<td>{{name}}</td>
									<td>{{description}}</td>
									<td>{{venue}}</td>
									<td><div class="date">{{datetime}}</div></td>
								</tr>
								{{/each}}

							</tbody>
						</table>

						</p>
					</div>
					{{/if}}
				</div>
			</div>

		</a>
		<div>
			<br />
		</div>
		{{/each}} {{/if}}

	</div>
</div>


<script>
	$(".date").each(function() {
		var datetime = new Date($(this).html());
		$(this).html(datetime.toDateString());
	});

	$(".startDate").each(function() {
		var datetime = new Date($(this).html());
		$(this).html(datetime.toDateString());
	});

	$(".endDate").each(function() {
		var datetime = new Date($(this).html());
		$(this).html(datetime.toDateString());
	});
</script>
