<div>
	<h3 style="margin-top: 0px">{{title}} :</h3>
	<div class="list-group">
		{{#if past}} {{#each events.Entry}} <a
			style="margin: 0px; padding: 0px"
			href='{{url "/event-instance/"}}{{id}}' class="list-group-item">
			<!-- <h4 class="list-group-item-heading">{{name}}</h4> <br
			style="clear: both;" />
			-->

			<div style="margin: 0px; padding: 0px" class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{name}}</h3>
				</div>

				<div style="width: 70%; float: left">
					<p class="list-group-item-text">
						<br />{{description}}
					</p>
				</div>

				<div style="width: 30%; float: right">
					<!--  	<div style="width: 60%; float: left">-->
					<p class="list-group-item-text">
						<br /> <b>First Place Winner </b>
					</p>
					<!-- 	</div>-->
					<!-- 	<div style="width: 40%; float: right">-->
					<img src="themes/classic/images/Cliub Logos-0{{house_id}}.jpg"
						alt="Smiley face" height="80" width="80">
					<!-- 	</div>-->

				</div>
				<br style="clear: both;" />
			</div>

		</a>
		<div>
			<br />
		</div>
		{{/each}} {{/if}} {{#if current}} {{#each events}} <a
			style="margin: 0px; padding: 0px"
			href='{{url "/event-instance/"}}{{id}}' class="list-group-item">
			<!-- <h4 class="list-group-item-heading">{{name}}</h4> <br
			style="clear: both;" />
			-->

			<div style="margin: 0px; padding: 0px" class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{name}}</h3>
				</div>
				<div class="row">
					<div class="col-md-5" style="margin:10px">
						<p class="list-group-item-text">
							{{description}} <br />Start Date :{{startDate}} <br />End
							Date :{{endDate}}
						</p>
					</div>
					{{#if activities}}
					<div  class="col-md-6" style="margin:10px">
						<p class="list-group-item-text">
							 <b>Up coming activities</b> 
							 <table class="table">
							 	<thead>
							 		<th>name</th><th>description</th><th>venue</th>
							 	</thead>
							 	<tbody>
							 	
							 	{{#each activities}}
							 	<tr><td>{{name}}</td><td>{{description}}</td><td>{{venue}}</td></tr>
							 	{{/each}}
							 	
							 	</tbody>
							 </table>
							 
						</p>
					</div>
					{{/if}}
				</div>
			</div>

		</a>
		<div>
			<br />
		</div>
		{{/each}} {{/if}}

	</div>
</div>