<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{eventInstance.name}}</h3>
	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-md-8">Description :
				{{eventInstance.description}}</div>

			<div class="col-md-3">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Results</h3>
					</div>
					<div class="panel-body">
						<table class="table">

							{{#each ranks}}
							<tr>

								<td><h2>{{rank}}</h2></td>
								<td><img
									src="/TestApp2/themes/classic/images/Cliub Logos-0{{house_id}}.jpg"
									alt="Smiley face" height="80" width="80"></td>

							</tr>
							{{/each}}

						</table>
					</div>


				</div>


			</div>
		</div>


		<table style="margin: 0px" class="table table-condensed">

			<tr style="margin: 0px; padding: 0px">
				<td style="margin: 0px; padding: 0px; border: none">
					<h4>From : {{eventInstance.startDate}}</h4>
				</td>
			</tr>
			<tr style="margin: 0px; padding: 0px">
				<td style="margin: 0px; padding: 0px; border: none">
					<h4>To : {{eventInstance.endDate}}</h4>
				</td>
			</tr>
		</table>

		<h4 class="panel">Activities :</h4>

		<ul class="list-group">
			{{#each activities}}

			<li class="list-group-item">
				<div class="row">

					<div class="col-md-7">

						<h4 class="list-group-item-heading">{{name}}</h4>
						<p>{{description}}</p>
						<p>At : {{venue}}</p>
						<p>On : {{datetime}}</p>
					</div>
					<div class="col-md-5">
						{{#unless winner}} <span class="label label-default pull-right">
							{{#if_eq type "G"}}Group{{/if_eq}} {{#if_eq type
							"I"}}Individual{{/if_eq}} </span> {{/unless}} {{#if winner}}
						<h4>Results :</h4>
						<table style="margin: 0px" class="table table-condensed">
							{{#each winner}}
							<tr>
								<td style="border: none"><h5>{{rank}} :
										{{description}}</h5></td>

								<td style="border: none">{{#if_eq ../type "I"}}
									<h5>{{winner}}</h5> {{/if_eq}} {{#if_eq ../type "G"}} <img
									class="pull-right"
									src="/TestApp2/themes/classic/images/Cliub Logos-0{{winner}}.jpg"
									alt="Smiley face" height="40" width="40"> {{/if_eq}}
								</td>
							</tr>
							{{/each}}
						</table>
						{{/if}}
					</div>
				</div>
				<div class="row">Button</div>
			</li> {{/each}}
		</ul>

		<h4 class="panel">Awards :</h4>

		<ul class="list-group">
			{{#each awards}}
			<li class="list-group-item">
				<div class="row">

					<div class="col-md-8">
						<h4 class="list-group-item-heading">{{name}}</h4>

						<p>{{description}}</p>
					</div>
					<div class="col-md-4">
						{{#unless winner}} <span class="label label-default pull-right">{{#if_eq
							type "G"}}Group{{/if_eq}}{{#if_eq type "I"}}Individual{{/if_eq}}</span>
						<span class="label label-primary pull-right" id="voteLabel">{{#if_eq
							isVote "true"}}Vote{{/if_eq}}</span> {{/unless}} {{#if winner}}
						<table style="margin: 0px" class="table">

							{{#each winner}}
							<tr style="border-width: 0px; padding: 0px">
								<td style="border: none">{{#if_eq ../type "I"}}{{name}}
									{{/if_eq}} {{#if_eq ../type "G"}} <img
									src="/TestApp2/themes/classic/images/Cliub Logos-0{{name}}.jpg"
									alt="Smiley face" height="60" width="60" /> {{/if_eq}}
								</td>
							</tr>
							{{/each}}
						</table>
						{{/if}}
					</div>
				</div>
			</li> {{/each}}
		</ul>
	</div>
</div>