<div>
	<div class="list-group">
		{{#each events.event}} <a href='{{url "/events/"}}{{id}}'
			class="list-group-item"> {{name}} : {{description}} {{#if
			../role}}
			<button onclick="deleteEvent({{id}});return false;" type="button"
				class="btn btn-danger btn-xs pull-right">delete</button>
			<button onclick="editEvent({{id}});return false;" type="button"
				style="" class="btn btn-warning btn-xs pull-right">edit</button>
			{{/if}}
		</a> {{/each}}
	</div>
</div>


{{#if role}}
<script>
	function editEvent(id) {
		document.location.href = '{{url "/edit-event/"}}' + id;
	}

	function deleteEvent(id, row) {
		document.location.href = '{{url "/delete-event/"}}'+id;
	}
</script>
{{/if}}
