<div class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			
			<a  style="padding:0px; padding-top: 11px;padding-right: 10px;" class="navbar-brand" href="/HouseManagement/index.jag">
			<img style="padding:0px;margin:0px" src="/HouseManagement/themes/classic/images/header-logo.jpg" >
			<font size="3">Houses</font></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{{#unless role}}
					<li><a href="{{url "/current-events"}}"><font size="2">Current Events</font></a></li>
					<li><a href="{{url "/award-list.jag"}}"><font size="2">Current Elections</font></a></li>
					<li><a href="{{url "/history"}}"><font size="2">History</font></a></li>
					<li><a href="{{url "/house"}}"><font size="2">Members</font></a></li>
				{{/unless}}
				{{#if role}}
				
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event Templates <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="{{url "/events"}}">View</a></li>
		            <li class="divider"></li>
		            <li><a href="{{url "/add-event"}}">Add</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="{{url "/current-events"}}">Current Events</a></li>
		            <li class="divider"></li>
		            <li><a href="{{url "/award-list.jag"}}">Current Elections</a></li>
		            <li class="divider"></li>
		            <li><a href="{{url "/history"}}">History</a></li>
		            <li class="divider"></li>
		            <li><a href="{{url "/all-event-templates"}}">Events by type</a></li>
		            <li class="divider"></li>
		            <li><a href="{{url "/add-event"}}">Add</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="{{url "/assign-house.jag"}}">Assign House</a></li>
		            <li class="divider"></li>
		            <li><a href="{{url "/change-status"}}">Change Status</a></li>
		            <li class="divider"></li>
		            <li><a href="{{url "/house/"}}">List</a></li>
		          </ul>
		        </li>
				{{/if}}	
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><form class="navbar-form" onsubmit="search(); return false;" role="search">
						<div class="form-group">
							<input style="background:#555555;border-color: black" type="text" id="searchText" class="form-control"
								placeholder="Search Events" required />

						</div>
						<button type="submit" style="color:white;border-color: white;background-color: black" class="btn btn-default">Search</button>
					</form></li>

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><strong>Signed-in as: </strong>{{username}}<b
						class="caret"></b> </a>
					<ul class="dropdown-menu">
						<li><a href="{{url "/logout.jag"}}">Sign Out</a></li>
						<li><a href="{{url "/change-password.jag"}}">Change Admin Password</a></li>
					</ul></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>


<script type="text/javascript">
	function search() {
		var key = document.getElementById('searchText').value;
		if (key == " " || key =="") {
			if (confirm("Search for all the events?")) {
				document.location.href = '{{url "/search/"}}' + key;
			}
		}
		else{
			document.location.href = '{{url "/search/"}}' + key;
		}
	}
</script>
