{{#if house}}
<div id="htmlList" style="display: inline">
	<ul class="list-group">
		<h4 class="list-group-item-heading">
			{{house}}
			<button onclick="viewEmailList();return false;" type="button"
				style="" class="btn btn-warning btn-xs pull-right">View as
				a Email List</button>
				<button onclick="tableToExcel('exportTable', 'name', 'member.xls');return false;" type="button"
				style="" class="btn btn-warning btn-xs pull-right">Download to Excel</button>
		</h4>
		{{#each Member}}
		<li class="list-group-item">{{name}}</li> {{/each}}
	</ul>
</div>

<div style="display: none" id="emailList">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				Copy List to Email :
				<button onclick="viewHTMLList();" type="button" style=""
					class="btn btn-warning btn-xs pull-right">Back</button>
			</h3>
		</div>
	</div>
	<textarea class="form-control" id="eventDescription" rows="15">{{emailString}}</textarea>
</div>

<table style="display: none" id="exportTable">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		{{#each Member}}
		<tr>
			<td>{{name}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<a id="dlink"  style="display:none;"></a>
<script>
	function viewEmailList() {
		$('#htmlList').hide();
		$('#emailList').show();
	}

	function viewHTMLList() {
		$('#emailList').hide();
		$('#htmlList').show();
	}

	var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name, filename) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
			
            document.getElementById("dlink").href = uri + base64(format(template, ctx));
            document.getElementById("dlink").download = filename;
            document.getElementById("dlink").click();

        }
	})()
</script>


{{/if}} {{#unless house}}
<div class="list-group">
	<a href="{{url "/house/1"}}" class="list-group-item">Cloud Bots</a> <a
		href="{{url "/house/2"}}" class="list-group-item">Titans</a> <a
		href="{{url "/house/3"}}" class="list-group-item">Legion</a> <a
		href="{{url "/house/4"}}" class="list-group-item">Wild Boars</a>
</div>

<form class="navbar-form" onsubmit="searchHouseOfMember(); return false;">
	<br><br>
	<label for="search">Enter the name of the person you want to find the house of</label>
	<div id="search">
		<div class="form-group">
			<input type="text" id="searchMemberText" class="form-control"
				placeholder="Search" required/>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
</form>

{{#if searched}}
	<div class="well"><b>
	The house of the member {{searched.member}} : {{searched.house_name}}</b> 
	</div>
{{/if}}
{{/unless}}
<script type="text/javascript">
	function searchHouseOfMember(){
		var name = document.getElementById("searchMemberText").value;
		if (name.indexOf('@')!=-1){
				name = name.substring(0,name.length-9);
		}
		document.location.href = '{{url "/search-house/"}}' + name;
	}
</script>