{{#unless admin}}
<div class="col-md-3" id="sidebar">
	<div class="bs-sidebar hidden-print" role="complementary">
		<ul class="nav bs-sidenav">
			<div>
				<div class="list-group">
					<a class="list-group-item" href="{{url "/current-events"}}">Current	Events</a>
					<a class="list-group-item" href="{{url "/history"}}">History</a>
					<a class="list-group-item" href="{{url "/award-list.jag"}}">View Current Elections</a>
					<a class="list-group-item" href="{{url "/house"}}">View House Members</a>
					<a class="list-group-item" href="{{url "/all-event-templates"}}">Events by Type</a>
				</div>
			</div>
		</ul>
	</div>
</div>

{{/unless}} {{#if admin}}
<div class="col-md-3" id="sidebar">
	<div class="bs-sidebar hidden-print" role="complementary">
		<div class="nav bs-sidenav">

			<div class="panel-group" style="border-color: #A9A9A9;" id="accordion">
				<div style="margin: 0px; padding: 0px; border-radius: 0px"
					class="panel panel-custom">
					<div style="border-radius: 0px" class="panel-heading"
						data-toggle="collapse" data-target="#collapseOne">
						<h4 class="panel-title">
							Event Templates<span
								class="glyphicon glyphicon-chevron-down pull-right"></span>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div style="margin: 0px; padding: 0px" class="panel-body">
							<ul style="margin: 0px; padding: 0px; border-width: 0px;"
								class="list-group">
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/events/"}}">View Templates <span class="glyphicon glyphicon-list pull-right"></span></a>
								<a style="border-width: 0px;" class="list-group-item"
									href="/HouseManagement/add-event">Add Template<span class="glyphicon glyphicon-plus pull-right"></span></a>
							</ul>
						</div>
					</div>
				</div>
				<div
					style="margin: 0px; padding: 0px; border-top-width: 0px; border-radius: 0px"
					class="panel panel-custom">
					<div style="border-radius: 0px" class="panel-heading"
						data-toggle="collapse" data-target="#collapseTwo">
						<h4 class="panel-title">
							Events<span class="glyphicon glyphicon-chevron-down pull-right"></span>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse in">
						<div style="margin: 0px; padding: 0px" class="panel-body">
							<ul style="margin: 0px; padding: 0px; border-width: 0px;"
								class="list-group">
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/all-event-templates"}}">Events by type</a>
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/current-events"}}">Current Events</a>
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/history"}}">Past Events</a>
									<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/award-list.jag"}}">Current Elections</a>
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/add-event-instance-front.jag"}}">Add Event<span class="glyphicon glyphicon-plus pull-right"></span></a>
							</ul>
						</div>
					</div>
				</div>
				<div
					style="margin: 0px; padding: 0px; border-top-width: 0px; border-radius: 0px"
					class="panel panel-custom">
					<div style="border-radius: 0px" class="panel-heading"
						data-toggle="collapse" data-target="#collapseThree">
						<h4 class="panel-title">
							People<span class="glyphicon glyphicon-chevron-down pull-right"></span>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse in">
						<div style="margin: 0px; padding: 0px" class="panel-body">
							<ul style="margin: 0px; padding: 0px; border-width: 0px;"
								class="list-group">
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/house/"}}">View Members</a>
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/assign-house.jag"}}">Assign House<span class="glyphicon glyphicon-plus pull-right"></span></a>
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/change-status"}}">Change Status</a>
							</ul>
						</div>
					</div>
				</div>
				<div
					style="margin: 0px; padding: 0px; border-top-width: 0px; border-radius: 0px"
					class="panel panel-custom">
					<div style="border-radius: 0px" class="panel-heading"
						data-toggle="collapse" data-target="#collapseFour">
						<h4 class="panel-title">
							Welcome Page<span class="glyphicon glyphicon-chevron-down pull-right"></span>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse in">
						<div style="margin: 0px; padding: 0px" class="panel-body">
							<ul style="margin: 0px; padding: 0px; border-width: 0px;"
								class="list-group">
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/upload-photo/"}}">Upload Photo<span class="glyphicon glyphicon-plus pull-right"></span></a>
								<a style="border-width: 0px;" class="list-group-item"
									href="{{url "/delete-photo/"}}">Delete Photo</a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}
