

	<div>
	<div class="">
	
	
<div style="padding-top: 10px">
	<h2>Nominees </h2><br>


	<form id="activityForm" name="newActivity"
			>
<table class="table" id="activityTable">
	<tbody>	
		
				{{#each nominees}}
 				
 					
 					<tr><input type="radio" id="{{name}}Nominee_name" value="{{name}}"  >{{name}}<br> <br> </tr>

                   
				{{/each}}				
	            





		</tbody>

		
</table>
<input type="button" id="addButton" class="button" value="Vote" onclick="addNominee();" /> <br>  <br>
</form>
	




<form id="myform" name="newEvent">
	<div class="form-group">
		<label for="eventName">Add Nominee</label> <input type="text"
			class="form-control" id="eventName" placeholder="Enter Nominee Name    eg: someone@wso2."
			required><br>
	</div>
	<div class="form-group">
				<div class="label label-danger" id="activityNameWarning"
					style="display: none">Please enter a valid name</div>
			</div>
	
</form>
<button id="submitButton" type="submit" class="btn btn-default">Add</button>




</div>
</div>
		
	</div>

	</div>
</div>








<script type="text/javascript">
		
		

		
		
var nominee;
		
		

		$(document)
				.ready(
						function() {

							$('#submitButton')
									.click(
											function() {
												if (validateNominee()){

												var eventName = document
														.getElementById('eventName').value;
												

												$
														.ajax({
															type : "POST",
															contentType : "application/json",
															url : "{{url "/vote-list.jag"}}",

															data : JSON
																	.stringify({
																		"Nominee" : {
																			"name" : eventName,
																			
																		}
																		
																		
																	}),
															success : function(
																	msg) {
																if(msg.redirect){
																	window.location = msg.url;
																};
															}
														});

													}

											});

						});


function validateNominee() {
	var corrext=0;

			{{#each people}}
			//corrext==0;
			var name = "{{name}}";
var nomineeName = document.getElementById('eventName').value;
if(name == nomineeName){

	corrext=1;
}

{{/each}}

if(corrext==1) {
	return true;

}
else{

var warningLabel = document
						.getElementById("activityNameWarning");
				warningLabel.style.display = "inline";




	return false;

}
}














		function addNominee() {
			{{#each names}}

			var name = "{{name}}";
		 
    		if ((document.getElementById(name+"Nominee_name")).checked){
    		
												

			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "{{url "/vote-list.jag"}}",

				data : JSON
						.stringify({
							"Nominee" : {
								"name" : name,
										}
																		
																		
																	}),
				success : function(
								msg) {
						if(msg.redirect){
						window.location = msg.url;
					};
				}
			});
		}
{{/each}}
		}



</script>

	




