

	    <div>
	    	<div class="">
        		<div style="padding-top: 10px">
	    			<h2><strong>{{voter.eventName}} : Nominees for {{voter.awardName}} </strong></h2><br>
					<div><h4>{{message}}</h4></div>
					<div class="form-group">
							<div class="label label-danger" id="voteNameWarning"
								style="display: none">We are sorry, you have already voted for this award.</div>
					</div>
				<div class="form-group">
					<form id="activityForm" name="newActivity">
						<table class="table" id="activityTable">
						<tbody>	
		
				         {{#each nominees}}
 				      		<tr><input type="radio" id="{{name}}Nominee_name" value="{{name}}"  >{{name}}<br> <br> </tr>
                         {{/each}}				
						</tbody>
						</table>
						<input type="button" id="addButton" class="button" value="Vote" onclick="addNominee();" /> <br>  <br>
                   </form><br> 

		{{#if voter.typeI}}
			<form id="myform" name="newEvent">
			<div class="form-group">
			<label for="eventName">Add Nominee</label> <input type="text"
			class="form-control" id="eventName" placeholder="Enter Nominee Name  eg: someone@wso2 or House Name"
			required><br>
			</div>
			<div class="form-group">
				<div class="label label-danger" id="activityNameWarning"
					style="display: none">Please enter a valid name.</div>
			</div>
	
			</form>
			<button id="submitButton" type="submit" class="btn btn-default">Add</button>

		{{/if}}



{{#if voter.typeG}}

 
<form>
<label for="eventName">Add Nominee</label> <br> 
<select id="selecthouse" name="selectHouse">
{{#each houses}}
  <option id="{{name}}Nominee_name" value="{{name}}">{{name}}</option>
  {{/each}}
</select>
<br><br>
<input type="button" id="addButton" class="button" value="Add" onclick="addHouse();" /> <br>  <br>

<form>
{{/if}}


</div>
</div>
		
	</div>

	</div>
</div>








<script type="text/javascript">
		
		

		
		
var nominee;
		
		

		$(document)
				.ready(
						function() {

							$('#submitButton')
									.click(
											function() {
												if (validateNominee()){

													if(validateVoter()){
														var award = "{{voter.eventId}}"
														var type= "{{voter.type}}"

												var eventName = document
														.getElementById('eventName').value;
												
														
												$
														.ajax({
															type : "POST",
															contentType : "application/json",
															url : "{{url "/vote-list.jag"}}",

															data : JSON
																	.stringify({
																		"Nominee" : {
																			"name" : eventName,
																			"award" : award,
																			"type" : type,
																			
																		}
																		
																		
																	}),
															success : function(
																	msg) {
																if(msg.redirect){
																	window.location = msg.url;
																};
															}
														});

													}
													}

											});

						});


function validateNominee() {


if("{{voter.type}}" == "I"){

	var corrext=0;



			{{#each people}}
			//corrext==0;
			var name = "{{name}}";
var nomineeName = document.getElementById('eventName').value;
if(name == nomineeName){

	corrext=1;
}

{{/each}}

if(corrext==1) {
	return true;

}
else{

var warningLabel = document
						.getElementById("activityNameWarning");
				warningLabel.style.display = "inline";




	return false;

}

}

else{
if("{{voter.type}}" == "G"){

	var corrext=0;


{{#each houses}}
			
	var name = "{{name}}";		//corrext==0;
			
var nomineeName = document.getElementById('eventName').value;
if( nomineeName == name){

	corrext=1;
}

{{/each}}

if(corrext==1) {
	return true;

}
else{

var warningLabel = document
						.getElementById("activityNameWarning");
				warningLabel.style.display = "inline";




	return false;

}
}
}
}

function validateVoter() {
	var corrext=0;
	var voter= "{{voter.voterId}}";

			{{#each votes}}
			corrext==0;
			var id= "{{voter_id}}";

			if(voter == id){

			corrext=1;
			}

			{{/each}}

			if(corrext==0) {
			return true;

			}
			else{

			var warningLabel = document
						.getElementById("voteNameWarning");
				warningLabel.style.display = "inline";




	return false;

}
}













		function addNominee() {
			if (validateVoter()){
			var type= "{{voter.type}}"

			var award = "{{voter.eventId}}"
			{{#each nominees}}

			var name = "{{name}}";
		 
    		if ((document.getElementById(name+"Nominee_name")).checked){
    		
											

			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "{{url "/vote-list.jag"}}",

				data : JSON
						.stringify({
							"Nominee" : {
								"name" : name,
								"award" : award,
								"type" : type,
										}
																		
																		
																	}),
				success : function(
								msg) {
						if(msg.redirect){
						window.location = msg.url;
					};
				}
			});
		}
{{/each}}
		}}



function addHouse() {
			if (validateVoter()){
			var type= "{{voter.type}}"

			var award = "{{voter.eventId}}"
	{{#each houses}}

			var name = "{{name}}";
		 
    		if (document.getElementById('selecthouse').value == name){
    		
											

			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "{{url "/vote-list.jag"}}",

				data : JSON
						.stringify({
							"Nominee" : {
								"name" : name,
								"award" : award,
								"type" : type,
										}
																		
																		
																	}),
				success : function(
								msg) {
						if(msg.redirect){
						window.location = msg.url;
					};
				}
			});
		}
{{/each}}
		}}


</script>

	




